<div class="featured-collections">
  <div class="frow justify-start">
    {% for link in linklists[linklistHandle].links %}
    <div class="collection-thumb">
      <img class="collection-thumb-img" src="{{ link.object.featured_image | img_url: 'medium' }}">
      <h3 class="collection-thumb-title">
        <a href="{{ link.url }}">{{ link.object.title | escape }}</a><br/>
        {{ link.object.price | money }}<br/>
        Book Now
      </h3>
    </div>
    {% endfor %}
  </div>
</div>