<div class="clear"></div>
<section class="reviews">
    <div class="frow centered">
        <div class="reviews-bg" style="background-image:url('{{ section.settings.reviews-bg.src | img_url: 'large' }}');">
            Press Play

        </div>
    </div>
</section>
{% comment %}
{# <div class="vimeo-wrapper">
    <iframe src="https://player.vimeo.com/video/76979871?background=1&autoplay=1&loop=1&byline=0&title=0"
            frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
 </div> #}
 {% endcomment %}

{% schema %}
{
    "name": "Review Section",
    "settings": [
        {
            "type": "image_picker",
            "id": "reviews-bg",
            "label": "Background Image"
        }
    ]
}
{% endschema %}