<section class="sk-section-wrapper">
  <div class="sk-section-name">{{ section.settings.about_section_name_001 }}</div>
  {% if section.settings.about_section_desc_001 %}
    <div class="sk-section-description">{{ section.settings.about_section_desc_001 }}</div>
  {% endif %}
</section>

{% schema %}
{
    "name": "About Page Title 001",
    "settings": [
        {
            "type": "text",
            "id": "about_section_name_001",
            "label": "About Section Title"

        },
        {
            "type": "textarea",
            "id": "about_section_desc_001",
            "label": "About Section Description"
        }
    ]
}
{% endschema %}