<div class="clear"></div>
<section class="sk-section-wrapper">
  <div class="sk-section-name">{{ section.settings.favorites-name }}</div>
  
  {% if section.settings.favorites-description %}
  <div class="sk-section-description">{{ section.settings.favorites-description }}</div>
{% endif %}
</section>


{% schema %}
{
    "name": "Favorites Section",
    "settings": [
        {
            "type": "text",
            "id": "favorites-name",
            "label": "Favorites Title"

        },
        {
          "type": "text",
          "id": "favorites-description",
          "label": "Favorites Description"
        }
    ]
}
{% endschema %}