<section class="cta-section">
    
    <div class="cta-title">Book your appointment with our beauty team</div>
    <div class="cta-description">Select from our list of services, includes packages and a la carte options.</div>
    <a class="cta-btn" href="www.svncrwns.com"><div>book now</div></a>
    
</section>
