<div class="clear"></div>
<section class="right-img-text-combo">
    <div class="frow justify-start">
        <div class="right-img">
            {{ collection.metafields.alpha-section.alpha-img }}
        </div>
        <div class="text-combo">
            <h2 class="text-combo-title">{{ collection.metafields.alpha-section-name.alpha-name }}</h2>
            <p>{{ collection.metafields.alpha-section-desc.alpha-description }}</p>
        </div>
        <a class="text-combo-cta" href="#">
            <div>{{ collection.metafields.alpha-section.cta-btn-text }}</div>
        </a>
    </div>
</section>