<section class="callout_banner">
    <div class="callout_header">Covid Safety Guidelines</div>
    <div class="callout_desc">We practice covid safety and ensure our clients feel good and comfortable. Each client that enters our boutique spa is required to be wearing a mask, cleanse hands upon entry and have a temperature check before scheduled services began. All touch surfaces (door knobs, counter tops, beds, chairs, etc) are disinfected before and after each appointment. Scheduled clients are not allowed to have extra guests wait inside. We ask that if you are not feeling well, please stay home and text to reschedule your appointment.  We are social distancing for beauty and skincare needs! All of our professionals will be providing services to each of their clients while also following social distancing protocol.
    </div>
</section>