<section class="about-banner" style="background-image:url('{{ section.settings.banner.src | img_url: 'master' }}');">

</section>

{% schema %}
{
    "name": "LashEXT Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "banner",
            "label": "Background Image"
        }   
    ]
}
{% endschema %}