<section class="sk-title-wrapper">
  <div class="sk-section-name">{{ section.settings.section_name_003 }}</div>
  {% if section.settings.section_description_003 %}
    <div class="sk-section-description">{{ section.settings.section_description_003 }}</div>
  {% endif %}
</section>

{% schema %}
{
  "name": "Page Title 003",
  "settings": [
    {
      "type": "text",
      "id": "section_name_003",
      "label": "Section Title Three"

    },
    {
      "type": "textarea",
      "id": "section_description_003",
      "label": "Section Description Three"
    }
  ]
}
{% endschema %}