<section>
  <div>{{ section.settings.makeup_section_name_002 }}</div>
  {% if section.settings.makeup_section_desc_002 %}
    <div>{{ section.settings.makeup_section_desc_002 }}</div>
  {% endif %}
</section>
{% schema %}
{
    "name": "Makeup Title 002",
    "settings": [
        {
            "type": "text",
            "id": "makeup_section_name_002",
            "label": "Makeup Section Title"

        },
        {
            "type": "textarea",
            "id": "makeup_section_desc_002",
            "label": "Makeup Section Description"
        }
    ]
}
{% endschema %}