<section>
  <div>{{ section.settings.makeup_section_name_001 }}</div>
  {% if section.settings.makeup_section_desc_001 %}
    <div>{{ section.settings.makeup_section_desc_001 }}</div>
  {% endif %}
</section>
{% schema %}
{
    "name": "Makeup Title 001",
    "settings": [
        {
            "type": "text",
            "id": "makeup_section_name_001",
            "label": "Makeup Section Title"

        },
        {
            "type": "textarea",
            "id": "makeup_section_desc_001",
            "label": "Makeup Section Description"
        }
    ]
}
{% endschema %}