<section class="returns_section">
    <h2 class="gamma-title">{{ section.settings.returns_title }}</h2>
    <p class="gamma-desc">{{ section.settings.returns_desc }}</p>
</section>

{% schema %}
{
    "name": "Shipping",
    "settings": [
        {
            "type": "text",
            "id": "returns_title",
            "label": "Returns Title"
        },
        {
            "type": "textarea",
            "id": "returns_desc",
            "label": "Returns Description"
        }
    ]
}
{% endschema %}
