<div class="clear"></div>

<section class="sk-section-wrapper accordion">
    <h2 class="gamma-title">{{ section.settings.faqs_name }}</h2>
    
    {% for block in section.blocks %}
    <div class="accordion-item potato">
        <a href="#" class="heading">
            <div class="icon"></div>
            <div class="title">{{ block.settings.faqs_question }}</div>
        </a>

        <div class="content">
            <p>
                {{ block.settings.faqs_answer }}
            </p>
        </div>
    </div>
    {% endfor %}
</section>

{% schema %}
{
    "name": "Skincare FAQs 001",
    "settings": [
        {
            "type": "text",
            "id": "faqs_name",
            "label": "Skincare FAQs Title 001"
        }
    ],
    "blocks": [
        {
            "type": "component",
            "name": "Skincare FAQs 001",
            "settings": [
                {
                    "type": "text",
                    "id": "faqs_question",
                    "label": "Skincare Question"
                },
                {
                    "type": "textarea",
                    "id": "faqs_answer",
                    "label": "Skincare Answer"
                }
            ]
        }
    ]
}
{% endschema %}