<section class="sk-section-wrapper page-title-wrapper collection">
  <div class="sk-section-name">{{ section.settings.section_name_001 }}</div>
  {% if section.settings.section_description_001 %}
    <div class="sk-section-description">{{ section.settings.section_description_001 }}</div>
  {% endif %}
</section>

{% schema %}
{
    "name": "Page Title 001",
    "settings": [
        {
            "type": "text",
            "id": "section_name_001",
            "label": "Section Title 001"

        },
        {
            "type": "textarea",
            "id": "section_description_001",
            "label": "Section Description 001"
        }
    ]
}
{% endschema %}