<section>
  <div>{{ section.settings.waxing_section_name_001 }}</div>
  {% if section.settings.waxing_section_description_001 %}
    <div>{{ section.settings.waxing_section_description_001 }}</div>
  {% endif %}
</section>
{% schema %}
{
    "name": "Waxing Page Title 001",
    "settings": [
        {
            "type": "text",
            "id": "waxing_section_name_001",
            "label": "Waxing Section Title One"

        },
        {
            "type": "text",
            "id": "waxing_section_description_001",
            "label": "Waxing Section Description One"
        }
    ]
}
{% endschema %}