<h1 class="visually-hidden">Welcome to {{ shop.name }} {{ page_title }}</h1>
<div class="index-sections">
  {{ content_for_index }}
</div>


<div class="load-wait">
  <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
</div>

{% section 'book-cta' %}