

<div id="content" class="row">
  {% section 'waxing-section-one' %}

  {% section 'waxing-section-list' %}


  

  {% section 'waxing-alpha' %}

  {% section 'waxing-faqs-001' %}

  {% section 'waxing-faqs-002' %}
</div>

{% section 'component-book-cta-other' %}