{% section 'skincare-section-001' %}

<div class="featured-collections">
  <div class="frow justify-start">
    {% for link in linklists.skincare.links %}
    <div class="collection-thumb">
      <img class="collection-thumb-img" src="{{ link.object.featured_image | img_url: 'medium' }}">
      <h3 class="collection-thumb-title">
        <a href="{{ link.url }}">{{ link.object.title | escape }}</a><br/>
      </h3>
      {{ link.object.price | money }}<br/>
      <p>Book Now</p>
    </div>
  {% endfor %}
  </div>
</div>

{% section 'skincare-faqs-001' %}

{% section 'skincare-faqs-002' %}

{% section 'component-book-cta' %}