<div id="content" class="row">
    {% section 'about-section-001' %}
    
    {% section 'about-alpha' %}
    
    {% section 'about-alpha-reverse' %}
    
    {% section 'about-team' %}
</div>


{% section 'about-reviews' %}

<div id="content" class="row">
    {% section 'about-favorites' %}

    {% section 'about-favorites-linklist' %}
    
    {% render 'spacer', height: '50' %}

    {% section 'component-book-cta' %}
</div>

